<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czh.demo.dao.SaleMapper">
  <resultMap id="BaseResultMap" type="com.czh.demo.enity.Sale">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sale_id" jdbcType="VARCHAR" property="saleId" />
    <result column="buyer_id" jdbcType="INTEGER" property="buyerId" />
    <result column="good_id" jdbcType="INTEGER" property="goodId" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="margin" jdbcType="DECIMAL" property="margin" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sale_id, buyer_id, good_id, price, num, margin, status, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sale
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sale
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.czh.demo.enity.Sale">
    insert into sale (id, sale_id, buyer_id, 
      good_id, price, num, 
      margin, status, remark
      )
    values (#{id,jdbcType=INTEGER}, #{saleId,jdbcType=VARCHAR}, #{buyerId,jdbcType=INTEGER}, 
      #{goodId,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, #{num,jdbcType=INTEGER}, 
      #{margin,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.czh.demo.enity.Sale">
    insert into sale
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="saleId != null">
        sale_id,
      </if>
      <if test="buyerId != null">
        buyer_id,
      </if>
      <if test="goodId != null">
        good_id,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="margin != null">
        margin,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="saleId != null">
        #{saleId,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null">
        #{buyerId,jdbcType=INTEGER},
      </if>
      <if test="goodId != null">
        #{goodId,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="margin != null">
        #{margin,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.czh.demo.enity.Sale">
    update sale
    <set>
      <if test="saleId != null">
        sale_id = #{saleId,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null">
        buyer_id = #{buyerId,jdbcType=INTEGER},
      </if>
      <if test="goodId != null">
        good_id = #{goodId,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="margin != null">
        margin = #{margin,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.czh.demo.enity.Sale">
    update sale
    set sale_id = #{saleId,jdbcType=VARCHAR},
      buyer_id = #{buyerId,jdbcType=INTEGER},
      good_id = #{goodId,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      num = #{num,jdbcType=INTEGER},
      margin = #{margin,jdbcType=DECIMAL},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByPage" resultMap="BaseResultMap">
    select *
    from sale
    where status != -1
    limit #{start},#{end}
  </select>

  <select id="selectCount" resultType="java.lang.Integer">
    SELECT COUNT(*)
    from sale
    where status != -1
  </select>
</mapper>